$black: #000000;
$white: #ffffff;
$bg-ezero: #e0e0e0;
$primary: #1e2432;
$primaryBg: #02699C;
$secondary: #687086;
$theme-green: #3ccd5e;
$btn-color: #1b48bb;
$border-color: #dde3e7;
$btn-bg: #0099ff;
$book-flow-bg: #ebf0f3;
$red: #FF0000